/* You can add global styles to this file, and also import other style files */

.container{
    padding:50%;
}
.container .img{
    text-align:center;
}
.container .details{
    border-left:3px solid #ded4da;
}
.container .details p{
    font-size:15px;
    font-weight:bold;
}
.container {
  margin-top: 20px;
}
.page {
  display: none;
}
.page-active {
  display: block;
}
h1 {
	font-family: Roboto;
}