
<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
  <div class="container-fluid">
    
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#"><i class="fa fa-github fa-4x" aria-hidden="true"></i></a>
        </li>
        <li class="nav-item" >
          <a class="nav-link" href="#"><i class="fa fa-arrow-circle-left fa-3x" aria-hidden="true"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="fa fa-arrow-circle-right fa-3x" aria-hidden="true"></i></a>
        </li>
        
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        
      </form>
    </div>
  </div>
</nav>

<div *ngIf="profiles">

  <h3 class="" style="text-align: center;" >Trending Repositories</h3>
  
 
  <div class="container-fluid">
    <div class="container-fluid" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50" (scrolled)="onScroll()" [scrollWindow]="false"
    style="height: 80vh;  overflow-y: scroll;">
    <div style="margin-bottom: 20px;" class="row" *ngFor="let profile of profiles">
      <div class="col-md-2 img">
        <img src="{{profile.owner.avatar_url}}" width="200" height="200" alt="" class="img-rounded">
      </div>
      <div class="col-md-10 details">
        <blockquote>
          <h3 style="color: blue;"  > <a href="{{profile.html_url}}" target="_blank">{{ profile.name }}</a>  </h3>
          {{profile.description}} <i class="icon-map-marker"></i>
        </blockquote>
        <cite title="Stars count"> <p class="octicon octicon-star" style="margin-right: 80px;">
        {{profile.stargazers_count}} </p></cite>
        <cite title="Issues count"> <p class="octicon octicon-alert" style="margin-right: 80px;">
        {{profile.open_issues_count}} </p></cite>
        <small> <cite title="Time">{{profile.created_at}} by {{profile.owner.login}} </cite></small>
      </div>
      <br>
    </div>
    </div>
  </div>

</div>
